body {
    background-color: #e8f0e5;
}

/* Header Styles */
#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 30px;
}

#title {
    margin: 0;
    padding: 10px 20px;
    background-color: #d8c3a5;
    border: 4px solid #6b4f2d;
    border-radius: 8px;
    color: #2f1b0c;

    box-shadow: inset 0 0 0 2px rgba(255,255,255,0.4),
                0 3px 6px rgba(0,0,0,0.3);
}

#search {
        display: flex;
        gap: 8px;
}

#search-input {
    padding: 6px;
    font-size: 12px;
}

#search-button {
    padding: 6px 10px;
    font-size: 10px;
    cursor: pointer;
}

#logo img {
    display: block;
}

/* Navigation Bar */
#nav {
    padding: 10px 0;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#nav li {
    display: inline;
}

#nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 14px;
}
#nav a:hover {
    color: #011e3d;
}

/* Character Card Styles */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.license-card {
    background-color: #f2f2f2;
    border: 6px solid #222;
    border-radius: 12px;
    padding: 12px;  
    box-shadow: inset 0 0 0 3px #aaa,
                0 6px 12px rgba(0, 0, 0, 0.4); 
    width: 170px;
}


.license-card img {
    width: 150px;
    border: 3px solid #111;
    border-radius: 6px;
    background-color: white;
}